.stand {
  width: 100%;
  min-height: 600px;
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
}
.title > b {
  color: #ffd600;
}

.description {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  gap: 20px;
  position: relative;
   justify-content: center;
}

.item {
  align-items: center;
  padding: 45px 25px;
  gap: 30px;
  height: 426px;
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}
.logo {
  align-self: center;
}
.name {
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffd600;
  text-align: center;
}
.comment {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
