.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 90px 0px 80px;
  z-index: 2222;
  position: relative;
  @media (max-width: 767px) {
    padding-right: 30px;
    padding-left:40px;
  }
  @media (max-width: 350px) {
    padding-left: 10px;
  }
}

.logo {
  @media (max-width: 767px) {
    width: 25px;
    height: 42px;
  }
}
/* @media (max-width: 767px) {
   
} */
.links {
  display: flex;
  gap: 60px;
  @media (max-width: 767px) {
    display: none;
  }
}
.menu {
  width: 30px;
  color: #ffd600;
  font-size: 0px;
  background-color: transparent;
  padding-top: 10px;
  @media (min-width: 767px) {
    display: none;
  }
}
.link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
}

.activeLink {
  padding: 6px 23px;
  border: 1px solid #ffd600;
  color: #ffd600;
  border-radius: 150px;
}
