.sidebar {
  width: 250px;
  background-color: black;
  color: white;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu {
  width: 30px;
  color: #ffd600;
  font-size: 0px;
  background-color: transparent;
  padding-top: 10px;
  @media (min-width: 767px) {
    display: none;
  }
}

/* .menuButton {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: transparent;
  border: none;
  color: white;
} */

.drawerPaper {
  width: 100%;
}