.footer {
  width: 100%;
  min-height: 249px;
  background: #1c1d1f;
  display: flex;
  margin-top: 100px;
  padding: 41px 100px 72px 98px;
}
/* .left{

} */

.logo {
  width: 35.71px;
  height: 60px;
  margin-bottom: 5px;
}
.logo > img {
  width: 100%;
  height: 100%;
}
.text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* text-align: center; */
  color: #ffffff;
}
.small {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* text-align: center; */
  color: #ffffff;
}

.center {
  display: flex;
  margin-left: 130px;
  gap: 90px;
}
.col {
  gap: 4px;
}
.right {
  margin-left: 230px;
}
.logos {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.logo2 {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #ffffff;
  color: #000000;
}
